<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../build/common/reset.css">
    <link rel="stylesheet" href="../../build/common/typography.css">
    <link rel="stylesheet" href="../../build/components/breadcrumbs-core.css">
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
	<div class="type-test" id="breadcrumbs">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a> <span class="breadcrumbs-divider">/</span></li>
            <li><a href="#">Features</a> <span class="breadcrumbs-divider">/</span></li>
            <li class="breadcrumbs_disabled">Gene Splicing <span class="breadcrumbs-divider">/</span></li>
            <li class="breadcrumbs_current">Home</li>
        </ul>

        <ul class="breadcrumbs">
            <li>Home <span class="breadcrumbs-divider">/</span></li>
            <li>Features <span class="breadcrumbs-divider">/</span></li>
            <li>Gene Splicing <span class="breadcrumbs-divider">/</span></li>
            <li class="breadcrumbs_current">Home</li>
        </ul>

        <!-- structure2 -->

        <ul class="breadcrumbs breadcrumbs_divider">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li class="breadcrumbs_disabled">Gene Splicing</li>
            <li class="breadcrumbs_current">Home</li>
        </ul>

        <ul class="breadcrumbs breadcrumbs_divider">
            <li>Home</li>
            <li>Features</li>
            <li>Gene Splicing</li>
            <li class="breadcrumbs_current">Home</li>
        </ul>
    </div>
</body>
</html>