<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../build/common/reset.css">
    <link rel="stylesheet" href="../../build/common/typography.css">
    <link rel="stylesheet" href="../../build/components/label.css">
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
    <span class="label">Default</span>
    <span class="label label_success">Default</span>
    <span class="label label_warning">Default</span>
    <span class="label label_important">Default</span>
    <span class="label label_info">Default</span>
    <span class="label label_inverse">Default</span>
    <span class="label label_primary">Default</span>
    <span class="label label_danger">Default</span> 
</body>
</html>