@import "../../init.less";
// ==========================================================================
// Variables
// ==========================================================================
@paginationFontSize:                        @baseFontSize;
@paginationColor:                           @grayLight;
@paginationHoverColor:                      lighten(@grayLight,40%);
@paginationArrowHoverColor:                 @grayLight;
@paginationArrowHoverBgColor:               transparent;
@paginationCurrentBgColor:                  @blue;
@paginationCurrentColor:                    @white;
@paginationCurrentHoverBgColor:             @blue;
@paginationCurrentHoverColor:               @white;
@paginationDisabledColor:                   @grayLight;
@paginationDisabledHoverColor:              @grayLight;
@paginationDisabledHoverBgColor:            transparent;