@import "../../init.less";
// ==========================================================================
// Variables
// ==========================================================================
@pagination-fontSize:                        	@base-fontSize;
@pagination-textColor:                          @gray-light;
@pagination-hover-textColor:                    @pagination-textColor;
@pagination-hover-bgColor:                      lighten(@gray-light,40%);

@paginationArrow-hover-textColor:               @gray-light;
@paginationArrow-hover-bgColor:                 transparent;

@pagination-current-bgColor:                    @blue;
@pagination-current-textColor:                  @white;
@pagination-current-hover-bgColor:              @blue;
@pagination-current-hover-textColor:            @white;

@pagination-disable-textColor:                  @gray-light;
@pagination-disable-hover-textColor:            @gray-light;
@pagination-disable-hover-bgColor:              transparent;