@import "init.less";
// ==========================================================================
// Tables
// ==========================================================================
// BASE TABLES
// ==========================================================================

.table {
    max-width: 100%;
    width: 100%;
    // Cells
    th,
    td {
        text-align: left;
        vertical-align: top;
    }
    // Bottom align for column headings
    thead th {
        vertical-align: bottom;
    }
}