.menu {
	list-style: none;//
	li {
		
		&:hover > a {

		}
	}

	a {
		display: block;//
		text-decoration: none;//
	}

	.menu_sub {

		>a {

		}

		&:hover {

			>ul {
				display: block;//
			}
		}
	}


}