@import "../../init.less";
// ==========================================================================
// Variables
// ==========================================================================
@button-bgColor:                         @white;
@button-hightLight-bgColor:              darken(@white, 10%);
@button-borderColor:                     #bbb;

@button-hover-textColor:                 @gray-dark;
@button-hover-bgColor:                   darken(@white, 10%);
@button-active-bgColor:                  darken(@white, 10%);
@button-disable-bgColor:                 darken(@white, 10%);

// @button-borderRadius: 				   @form-borderRadius * 2;
@button-borderRadius:                    @base-borderRadius * 2;