@import "../../init.less";
// ==========================================================================
// Variables
// ==========================================================================
@breakcrumbsBgColor:                        #F6F6F6;
@breadcrumbsColor:                          lighten(@grayDark,15%);
@breadcrumbsDividerColor:                   @grayLight;
@breadcrumbsDisabledColor:                  @grayLight;
@breadcrumbsCurrentColor:                   @grayDark;
@breadcrumbsDividerColor:                   lighten(@grayLight,5%);