@import "../../init.less";
// ==========================================================================
// Variables
// ==========================================================================
@breakcrumbs-bgColor:                        #F6F6F6;
@breakcrumbs-textColor:                      lighten(@gray-dark,15%);
@breakcrumbs-disable-Color:                  @gray-light;
@breakcrumbs-current-Color:                  @gray-dark;
@breakcrumbs-dividerColor:                   lighten(@gray-light,5%);